/* START - Allgemeines Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, main, footer, p{
    text-align: center;
}

h1, h2, h3{
    color: #e55b76; 
    margin-top: 20px;
    text-align: center;
}

#degree-display {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    }

/* Styling für Buttons */
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f5cccc;
    border: #dd335a;
}

button:hover {
    background-color: #e55b76;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}
/*Styling für Canvas*/
.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    
}
canvas {
    margin: 10px;
    border: 1px solid #e55b76;
    background-color: #f5cccc;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling für den Conatiner*/
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Abstand zwischen den Elementen */
}
.item-text {
    margin-top: 8px; /* Abstand zwischen Element und Text */
}
/*Styling für das Bild*/
img {
    margin-left: 20px; /* Abstand zwischen Canvas und Bild */
    width: 800px; height: 500px;
    border: 1px solid #e55b76;
}
/* Footer Styling */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5cccc;
} 
/* END */